<h1>TO DO LIST</h1>

<% @tasks.each do |task|%>
  <ul>
    <li>
      <p><%= link_to task.name, task_path(task) %></p>
      <p><%= task.description %></p>
      <p><%= task.done %></p>
      <p><%= task.priority %></p>
    </li>
  </ul>
<% end %>

<%= link_to "Add a task", new_task_path %>
